<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
        <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    </head>
    <body>
        <p id="desktop">Desktop</p>
        <p id="tablet">Tablet</p>
        <p id="smartphone">Smartphone</p>

        <div id="footer">
            <p><%= htmlWebpackPlugin.options.copyright %></p>
        </div>


        <div id="content">
        </div>


        <div id="navigationText">
            <h1>WEBTEC</h1>
            <p>by Steve Ineichen</p>
        </div>
        <nav id="navigation">
            <div id="menuToggle">
                <input type="checkbox" class="mobile"/>

                <div id="hamburger">
                    <span class="mobile"></span>
                    <span class="mobile"></span>
                    <span class="mobile"></span>
                </div>
               
                <ul id="menuItems">
                    <li><a id="navHome">Home</a></li>
                    <li><a id="navCanvas">Canvas</a></li>
                    <li><a id="navFormular">Formular</a></li>
                    <li><a id="navStyleSwitcher">Style Switcher</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>
