<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="Automation & AI">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="animation"></div>
        <div id="app"></div>        
        <div id="featureoverview"></div>
        <footer>
            <p>&copy; Steve Ineichen 2017</p>
        </footer>
    </body>
</html>
