<!doctype html>
<div id="canvas">
    <h1>Canvas</h1>
    <p>Zeichne neue Bälle mit einem Klick in die Fläche&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p id="mousePosText">Maus Position. x: "" y: ""</p><br />
    <canvas id="canvasArea" width="500px" height="500px">

    </canvas>
</div>
