body
{
    /* Generic variables */
    --color-background: rgba(23,23,23,0);
}

div#footer {
    overflow: hidden;

    text-align:center;

    border:1px solid #ccc;
    border-width:1px 0; 
}

@media (min-width: 980px) { 
    
}

/* Tablet landscape */
@media (min-width: 768px) and (max-width: 979px) /* and (orientation: landscape) */ { 

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

