body
{
    /* Generic variables */
    --color-main: #cdcdcd;
    --color-background: rgba(23,23,23,0);
    --color-borders: #ccc;
}

/* Desktop landscape */
@media (min-width: 980px) { 
    div#navigationText{
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    div#navigationText h1{
        margin: 0 auto;
        font-size: 20px; 
        font-size: 3.5vh; 
    }

    div#navigationText p{
        margin: 0 auto;
        font-size: 20px; 
        font-size: 1.5vh;
    }

    nav#navigation{
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        font-size: 20px; 
        font-size: 1.5vh;

        border:1px solid var(--color-borders);
        border-width:1px 0;
    }

    nav#navigation .mobile{
        display: none;
    }

    nav#navigation div#menuToggle{
        position: absolute;
        margin: 5px auto;
        left: 0;
        right: 0;
    }

    nav#navigation ul#menuItems{

        margin: 0 0;
        padding: 0 0;
    }

    nav#navigation a{
        margin: 0 0;
        padding: 0 10px;
        display: inline-block;
        
        text-decoration: none;
        color: var(--color-main);

        border: 1px solid var(--color-borders);
        border-width: 0 1px;
    }

    nav#navigation a:hover{
        border-width: 1px 0;
    }

    nav#navigation li {
        margin: 0 0;
        padding: 0 0; 
        display: inline;
    }
}

/* Tablet landscape */
@media (min-width: 768px) and (max-width: 979px) /* and (orientation: landscape) */ { 
    div#navigationText{
        position: absolute;
        height: 20%;
        top: 0;
        left: 0;
        right: 0;

        border:1px solid var(--color-borders);
        border-width:0 1px 0 0; 
    }

    div#navigationText h1{
        margin: 0 auto;
        font-size: 10px; 
        font-size: 1.3vw; 
    }

    div#navigationText p{
        margin: 0 auto;
        font-size: 10px; 
        font-size: 1vw;
    }

    nav#navigation{
        overflow: hidden;
        text-align: center;

        border:1px solid var(--color-borders);
        border-width:0 1px 0 0;
    }

    nav#navigation .mobile{
        display: none;
    }

    nav#navigation div#menuToggle{
        position: absolute;
        height: 30%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    nav#navigation ul#menuItems{
        margin: 0 0;
        padding: 0 0;
    }

    nav#navigation a{
        margin: 0 0;
        padding: 0 10px;
        display: inline-block;
        
        text-decoration: none;
        color: var(--color-main);
        font-size: 10px; 
        font-size: 1vw;
    }

    nav#navigation a:hover{
        border: 1px solid var(--color-borders);
        border-width: 0 1px;
    }

    nav#navigation li {
        margin: 0 0;
        padding: 0 0; 
        display: inline;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    div#navigationText{
        position: absolute;
        width: 20%;
        bottom: 0;
        left: 0;

        border:1px solid var(--color-borders);
        border-width:1px 0;
    }

    div#navigationText h1{
        margin: 0 auto;
        font-size: 10px; 
        font-size: 2vh; 
    }

    div#navigationText p{
        margin: 0 auto;
        font-size: 10px; 
        font-size: 1.5vh;
    }

    nav#navigation{
        overflow: hidden;
    }
    
    nav#navigation #menuToggle
    {
      display: block;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    nav#navigation #menuToggle input
    {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 3%;
      width: 20%;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    div#hamburger {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 3%;
        width: 20%;
    }

    /*
     * Just a quick hamburger
     */
    div#hamburger span
    {
      display: block;
      width: 40px;
      height: 4px;
      bottom: 0;
      right: 0;
      margin-top: 0px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    div#hamburger span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    div#hamburger span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    div#menuToggle input:checked div#hamburger ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * Hide the middle one
     */
    div#menuToggle input:checked div#hamburger span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Last one should go the other direction
     */
    div#menuToggle input:checked div#hamburger span:nth-last-child(2)
    {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    ul#menuItems
    {
      position: absolute;
      width: 300px;
      right: 0;
      bottom: 3%;
      opacity: 0;

      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      
      transform-origin: 0% 0%;
      transform: translate(0, -500%);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    ul#menuItems li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's fade it in from the top
     */
    div#menuToggle input:checked ~ ul
    {
      transform: scale(1.0, 1.0);
      opacity: 1;
    }

    ul#menuItems a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    ul#menuItems a:hover
    {
      color: tomato;
    }
}

