<!doctype html>
<div id="styleSwitcher">
    <form>
        <p>Select your prefered style</p>
        <fieldset id="fieldset">
            <input type="radio" id="darkRadioBtn" name="styleswitcher" value="dark"></input>
            <label for="darkRadioBtn"> Dark</label>
            <input type="radio" id="lightRadioBtn" name="styleswitcher" value="light"></input>
            <label for="lightRadioBtn"> Light</label>
        </fieldset>
    </form>
</div>
