<!doctype html>
<div>
    <div id="homeCentered">
        <h1>Feature Overview</h1>
        <p>Eine übersicht der unterstützten Browser features</p>
        <div id="home">
        </div>
    </div>
</div>